@import "tailwindcss";

@theme {
  /*   box-shadow: 0 0 4px 2px rgba(0,0,0,.2); */
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));

  --color-card: hsl(var(--card));

  --animate-jump-in: jump-in 1s ease-in-out 0.4s forwards;
  --animate-jump-in-delay-1: jump-in 1s ease-in-out 0.4s forwards;
  --animate-jump-in-delay-2: jump-in 1s ease-in-out 0.6s forwards;
  --animate-jump-in-delay-3: jump-in 1s ease-in-out 0.8s forwards;
  --animate-jump-in-delay-4: jump-in 1s ease-in-out 1.2s forwards;

 --animate-bright-stars: bright-stars 0.9s ease-in 1s infinite;

   @keyframes bright-stars {
    0%,
    100%{
      opacity: 1;
    }
    50%{
      opacity: 0.2;
    }
    
  }

  

  @keyframes jump-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

  
}


@layer base{
  :root{
    --border: 30 100% 50%;
    --background: 0 0% 100%;
    --foreground: 220 60% 15%;
    --primary: 35 100% 40%;
     
  }

  .dark{
    --border: 30 100% 50%;
    --background: 220 60% 15%;
    --foreground: 0 0% 95%;
    --primary: 35 100% 40%;
    
  }
}

@utility container{
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility card-hover{
  @apply transition-transform duration-200 hover:scale-[1.02] hover:shadow-lg;
}
 

 @utility star{
    @apply absolute rounded-full bg-white;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
}

@utility beautiful-button{
  @apply bg-background;
   width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 0px 5px gray;
    position: relative;
    z-index: 1;
}




@utility animation{
  @apply bg-background border-primary border-2 absolute;
    height: 100px;
    width: 100px;
    border-radius: 50px 20px 50px 20px;
    animation: slideLeft .9s ease  infinite;
    padding: 2rem;
}
@keyframes slideLeft {
    from{transform: rotate(180deg);}
}




#root{
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

html{
  @apply scroll-smooth;
}

body{
  @apply text-foreground bg-background transition-colors duration-300 mt-10;
  font-feature-settings: "rlig" 1, "calt" 1;
}